In [15]:
#all necessary imports
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score
df = pd.read_csv("NFL_Team_Data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  672 non-null    int64
 1   team                  672 non-null    object
 2   wins                  672 non-null    int64
 3   losses                672 non-null    int64
 4   win_loss_perc         672 non-null    float64
 5   points                672 non-null    int64
 6   points_opp            672 non-null    int64
 7   points_diff           672 non-null    int64
 8   mov                   352 non-null    float64
 9   g                     672 non-null    int64
 10  total_yards           672 non-null    int64
 11  plays_offense         672 non-null    int64
 12  yds_per_play_offense  672 non-null    float64
 13  turnovers             672 non-null    int64
 14  fumbles_lost          672 non-null    int64
 15  first_down            672 non-null    int64
 16  pass_cmp              672 non-null    int64
 17  pass_att              672 non-null    int64
 18  pass_yds              672 non-null    int64
 19  pass_td               672 non-null    int64
 20  pass_int              672 non-null    int64
 21  pass_net_yds_per_att  672 non-null    float64
 22  pass_fd               672 non-null    int64
 23  rush_att              672 non-null    int64
 24  rush_yds              672 non-null    int64
 25  rush_td               672 non-null    int64
 26  rush_yds_per_att      672 non-null    float64
 27  rush_fd               672 non-null    int64
 28  penalties             672 non-null    int64
 29  penalties_yds         672 non-null    int64
 30  pen_fd                672 non-null    int64
 31  score_pct             672 non-null    float64
 32  turnover_pct          672 non-null    float64
 33  exp_pts_tot           672 non-null    float64
 34  ties                  320 non-null    float64
dtypes: float64(9), int64(25), object(1)
memory usage: 183.9+ KB

In [16]:
# additional data
df2 = pd.read_csv("Additional Data.csv")
df2

,year,SB,winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
0,2024,LVIII (58),Kansas City Chiefs,25,San Francisco 49ers,22,Patrick Mahomes,Alleigent Stadium,Las Vegas,Nevada
1,2023,LVII (57),Kansas City Chiefs,38,Philadelphia Eagles,35,Patrick Mahomes,State Farm Stadium,Glendale,Arizona
2,2021,LVI (56),Los Angeles Rams,23,Cincinnati Bengals,20,Cooper Kupp,SoFi Stadium,Inglewood,California
3,2021,LV (55),Tampa Bay Buccaneers,31,Kansas City Chiefs,9,Tom Brady,Raymond James Stadium,Tampa,Florida
4,2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
5,2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
6,2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
7,2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas
8,2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California
9,2015,XLIX (49),New England Patriots,28,Seattle Seahawks,24,Tom Brady,University of Phoenix Stadium,Glendale,Arizona
10,2014,XLVIII (48),Seattle Seahawks,43,Denver Broncos,8,Malcolm Smith,MetLife Stadium,East Rutherford,New Jersey
11,2013,XLVII (47),Baltimore Ravens,34,San Francisco 49ers,31,Joe Flacco,Mercedes-Benz Superdome,New Orleans,Louisiana
12,2012,XLVI (46),New York Giants,21,New England Patriots,17,Eli Manning,Lucas Oil Stadium,Indianapolis,Indiana
13,2011,XLV (45),Green Bay Packers,31,Pittsburgh Steelers,25,Aaron Rodgers,Cowboys Stadium,Arlington,Texas
14,2010,XLIV (44),New Orleans Saints,31,Indianapolis Colts,17,Drew Brees,Sun Life Stadium,Miami Gardens,Florida
15,2009,XLIII (43),Pittsburgh Steelers,27,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida
16,2008,XLII (42),New York Giants,17,New England Patriots,14,Eli Manning,University of Phoenix Stadium,Glendale,Arizona
17,2007,XLI (41),Indianapolis Colts,29,Chicago Bears,17,Peyton Manning,Dolphin Stadium,Miami Gardens,Florida
18,2006,XL (40),Pittsburgh Steelers,21,Seattle Seahawks,10,Hines Ward,Ford Field,Detroit,Michigan
19,2005,XXXIX (39),New England Patriots,24,Philadelphia Eagles,21,Deion Branch,Alltel Stadium,Jacksonville,Florida
20,2004,XXXVIII (38),New England Patriots,32,Carolina Panthers,29,Tom Brady,Reliant Stadium,Houston,Texas
21,2003,XXXVII (37),Tampa Bay Buccaneers,48,Oakland Raiders,21,Dexter Jackson,Qualcomm Stadium,San Diego,California

In [17]:
#renaming teams that have changed
df.team.replace({"St. Louis Rams": "Los Angeles Rams",
          "Washington Redskins": "Washington Commanders",
          "Oakland Raiders": "Las Vegas Raiders"},
          inplace = True)

C:\Users\Owner\AppData\Local\Temp\ipykernel_1852\2517370638.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.team.replace({"St. Louis Rams": "Los Angeles Rams",

In [18]:
# joining datasets together
final_data = pd.merge(df,df2,how = "outer", on=["year"])
final_data= final_data.drop(columns=[
    'mov','g', 'MVP','Stadium','City','State','first_down', 'turnovers','pass_net_yds_per_att', 'SB',
    'fumbles_lost','exp_pts_tot', 'points_diff', 'plays_offense','pass_int','pass_att', 'win_loss_perc', 'penalties', 'penalties_yds',
    'pass_cmp','yds_per_play_offense','pass_fd', 'rush_att','rush_yds_per_att','rush_fd','score_pct','turnover_pct','pen_fd',
    'ties'])
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         705 non-null    int64
 1   team         704 non-null    object
 2   wins         704 non-null    float64
 3   losses       704 non-null    float64
 4   points       704 non-null    float64
 5   points_opp   704 non-null    float64
 6   total_yards  704 non-null    float64
 7   pass_yds     704 non-null    float64
 8   pass_td      704 non-null    float64
 9   rush_yds     704 non-null    float64
 10  rush_td      704 non-null    float64
 11  winner       673 non-null    object
 12  Winner Pts   673 non-null    float64
 13  Loser        673 non-null    object
 14  Loser Pts    673 non-null    float64
dtypes: float64(11), int64(1), object(3)
memory usage: 82.7+ KB

In [19]:

X, y = make_classification(
    n_features = 14,
    n_classes=14,
    n_redundant= 2,
    n_samples= 705,
    n_informative=12,
    n_clusters_per_class=1,
    random_state=1,
    class_sep = 1.5
)

X_train, X_test, y_train, y_test = train_test_split(
    X,y, test_size=0.2, random_state=306, shuffle=True)

In [20]:

predictor = GaussianNB()

predictor.fit(X_train, y_train)

prediction = predictor.predict(X_test)

results_dict = {'Accuracy':0,'Precision':0,'Recall':0}

accuracy = accuracy_score(y_test, prediction)
precision = precision_score(y_test, prediction, average='macro')
recall = recall_score(y_test, prediction, average = 'macro')

results_dict.update({'Accuracy': accuracy, 'Precision': precision, 'Recall': recall})
result = pd.DataFrame([results_dict])
result

   Accuracy  Precision    Recall
0  0.702128   0.710667  0.712285

In [21]:
#adding final data that we will predict on

recent_data = [
    [2025, 'Arizona Cardinals', 6, 5, 244, 236, 3886, 2219, 12, 1543, 12, None, 0, None, 0],
    [2025, 'Atlanta Falcons', 6, 5, 244, 274, 4142, 2680, 17, 1297, 8, None, 0, None, 0],
    [2025, 'Baltimore Ravens', 8, 4, 364, 294, 5216, None, 2162, 17, None, 0, None, 0],
    [2025, 'Buffalo Bills', 9, 2, 320, 214, 3859, 2487, 18, 1311, 18, None, 0, None, 0],
    [2025, 'Carolina Panthers', 3, 8, 194, 340, 3257, 1956, 12, 1185, 9, None, 0, None, 0],
    [2025, 'Chicago Bears', 4, 8, 241, 240, 3939, None, 1308, 12, None, 0, None, 0],
    [2025, 'Cincinnati Bengals', 4, 7, 297, 296, 4035, 2890, 27, 1007, 8, None, 0, None, 0],
    [2025, 'Cleveland Browns', 3, 8, 186, 267, 3466, 2247, 12, 970, 6, None, 0, None, 0],
    [2025, "Dallas Cowboys", 5, 7, 248, 339, 4041, 2842, 16, 1030, 4, None, 0, None, 0],
    [2025, "Denver Broncos", 7, 5, 264, 202, 3920, 2423, 17, 1339, 8, None, 0, None, 0],
    [2025, "Detroit Lions", 11, 1, 383, 203, 4924, 2889, 9, 1853, 21, None, 0, None, 0],
    [2025, 'Green Bay Packers', 9, 3, 318, 240, 4681, 2812, 23, 1782, 12, None, 0, None, 0],
    [2025, "Houston Texans", 7, 5, 285, 268, 4342, 2657, 9, 1375, 13, None, 0, None, 0],
    [2025, "Indianapolis Colts", 5, 7, 242, 274, 3993, 2396, 14, 1400, 11, None, 0, None, 0],
    [2025, "Jacksonville Jaguars", 2, 9, 208, 316, 3399, 2081, 11, 118, 10, None, 0, None, 0],
    [2025, "Kansas City Chiefs", 10, 1, 270, 218, 3952, 2491, 18, 1279, 11, None, 0, None, 0],
    [2025, "Las Vegas Raiders", 2, 9, 206, 314, 3461, 2398, 12, 821, 7, None, 0, None, 0],
    [2025, "Los Angeles Chargers", 7, 4, 243, 175, 3727, 2250, 13, 1299, 12, None, 0, None, 0],
    [2025, "Los Angeles Rams", 5, 6, 233, 276, 3846, 2604, 15, 1046, 9, None, 0, None, 0],
    [2025, "Miami Dolphins", 5, 7, 232, 266, 4175, 2614, 16, 1324, 8, None, 0, None, 0],
    [2025, "Minnesota Vikings", 9, 2, 274, 197, 4065, 2574, 21, 1288, 6, None, 0, None, 0],
    [2025, 'New England Patriots', 3, 9, 197, 282, 3638, 2007, 12, 1354, 7, None, 0, None, 0],
    [2025, "New Orleans Saints", 4, 7, 262, 260, 2383, 15, 1438, 14, None, 0, None, 0],
    [2025, "New York Giants", 2, 10, 183, 279, 3837, 2198, 8, 1391, 10, None, 0, None, 0],
    [2025, "Philadelphia Eagles", 9, 2, 296, 199, 4508, 2153, 13, 2127, 22, None, 0, None, 0],
    [2025, "Pittsburgh Steelers", 8, 3, 252, 186, 3824, 2121, 12, 1487, 10, None, 0, None, 0],
    [2025, "San Francisco 49ers", 5, 6, 260, 260, 4334, 2708, 14, 1522, 10, None, 0, None, 0],
    [2025, 'Seattle Seahawks', 6, 5, 246, 244, 4050, 2829, 12, 980, 13, None, 0, None, 0],
    [2025, 'Tampa Bay Buccaneers', 5, 6, 309, 273, 4208, 2656, 24, 1410, 12, None, 0, None, 0],
    [2025, 'Tennessee Titans', 3, 8, 202, 290, 3555, 2021, 14, 1302, 7, None, 0, None, 0],
    [2025, 'Washington Commanders', 7, 5, 334, 277, 4589, 2673, 14, 1773, 20, None, 0, None, 0],
]

# Column names
columns = ['year', 'team', 'wins', 'losses', 'points', 'points_opp', 'total_yards', 'pass_yds', 'pass_td', 'rush_yds', 'rush_td', 'winner', 'Winner Pts', 'Loser', 'Loser Pts']

# Create DataFrame
df3 = pd.DataFrame(recent_data, columns=columns)


df4 = pd.concat([final_data, df3], ignore_index=False)
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 736 entries, 0 to 30
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         736 non-null    int64
 1   team         735 non-null    object
 2   wins         735 non-null    float64
 3   losses       735 non-null    float64
 4   points       735 non-null    float64
 5   points_opp   735 non-null    float64
 6   total_yards  735 non-null    float64
 7   pass_yds     733 non-null    float64
 8   pass_td      735 non-null    float64
 9   rush_yds     735 non-null    float64
 10  rush_td      732 non-null    float64
 11  winner       676 non-null    object
 12  Winner Pts   701 non-null    float64
 13  Loser        676 non-null    object
 14  Loser Pts    701 non-null    float64
dtypes: float64(11), int64(1), object(3)
memory usage: 92.0+ KB

In [23]:
X, y = make_classification(
    n_features = 14,
    n_classes=14,
    n_redundant= 2,
    n_samples= 736,
    n_informative=12,
    n_clusters_per_class=1,
    random_state=1,
    class_sep = 1.5
)

X_train, X_test, y_train, y_test = train_test_split(
    X,y, test_size=0.2, random_state=306, shuffle=True)

predictor = GaussianNB()

predictor.fit(X_train, y_train)

prediction2 = predictor.predict(X_test)

results_dict = {'Accuracy':0,'Precision':0,'Recall':0}

accuracy = accuracy_score(y_test, prediction2)
precision = precision_score(y_test, prediction2, average='macro')
recall = recall_score(y_test, prediction2, average = 'macro')

results_dict.update({'Accuracy': accuracy, 'Precision': precision, 'Recall': recall})
result = pd.DataFrame([results_dict])
result

   Accuracy  Precision    Recall
0  0.682432   0.690649  0.689046

In [24]:
prediction2

array([ 8,  2,  6,  4,  8,  3,  5,  1,  1,  3, 10,  8,  3, 13,  9, 11,  0,
        1,  6, 10,  4, 12,  7,  8,  7,  1,  2, 10, 11, 12, 10,  3,  1,  8,
       13, 13, 13,  0,  9,  5, 10, 13,  6,  0,  0, 12, 12,  0,  8,  5, 10,
        6,  0,  7,  4,  3,  5,  0,  1, 13,  0,  7,  5, 13,  9, 10,  2,  3,
       11,  0,  9, 11,  7,  4,  1,  1,  3,  0,  2,  4,  9,  1,  6, 11,  4,
        6,  7,  4,  4,  4,  4,  8,  3,  0,  1,  7,  4,  6,  5, 12,  8,  7,
       11,  2, 13, 12, 13, 12,  2,  8,  1,  6,  2,  0,  9,  8,  1,  4,  8,
       12,  1,  4,  9,  1,  7, 13,  4, 12, 11,  4,  1,  6,  4,  4, 11, 11,
        9,  9, 11, 11,  5,  3,  0, 10,  2, 12,  1,  8])